<h3>What we're looking for</h3>
<p>We're looking for installations for our attendees to admire and interact with all over the site. Think big.</p>
<p>In previous years we've had towers of flame, robots to drag around, trees that react to breathing, visualisations of black holes, fields of light that swarm around you, and domes as far as the eye can see.</p>
<p>You only submit an installation to the CfP if any of the following are true. Otherwise, please feel free to just bring it! We don't need to know about all installations in advance.</p>
<ul>
  <li>Safety concerns &mdash; if it involves fire, high power lasers, whirling blades etc.</li>
  <li>Location &mdash; does it need a lot of space, is it very noisy, want it somewhere not in your tent or village?</li>
  <li>Null Sector&mdash; you would like to submit it for inclusion in Null Sector?</li>
  <li>Power &mdash; any power requirements beyond a normal 13A plug/Ceeform</li>
  <li>Funding &mdash; we can provide some grants for projects.</li>
  <li>Transport &mdash; if you need help moving your installation we may be able to help.</li>
  <li>You're unsure if you should to talk to us</li>
</ul>

<p>If, from the above, you don't think you need to talk to us we'd still love to know about your installation: please let us know on the <a role="menuitem" rel="noopener" target="_blank" href="https://wiki.emfcamp.org">Wiki</a></p>
